<!-- template/dashboard.html -->
{% extends "base.html" %}

{% block title %}Dashboard - {{ cidade }}{% endblock %}

{% block content %}
  <h2>Dashboard da cidade: {{ cidade }}</h2>

  <canvas id="grafico" width="800" height="400"></canvas>

  <script>
    const dadosSensor = JSON.parse('{{ dados | tojson  | safe}}');
    const labels = dadosSensor.filter(d => d.campo === "temperatura").map(d => d.tempo);
    const tempData = dadosSensor.filter(d => d.campo === "temperatura").map(d => d.valor);
    const umiData = dadosSensor.filter(d => d.campo === "umidade").map(d => d.valor);

    const ctx = document.getElementById('grafico').getContext('2d');
    const grafico = new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [
          {
            label: 'Temperatura',
            data: tempData,
            borderColor: 'red',
            fill: false
          },
          {
            label: 'Umidade',
            data: umiData,
            borderColor: 'blue',
            fill: false
          }
        ]
      }
    });
  </script>

  <h3>Tabela de Dados</h3>
  <table border="1">
    <tr>
      <th>Tempo</th>
      <th>Campo</th>
      <th>Valor</th>
    </tr>
    {% for dado in dados %}
    <tr>
      <td>{{ dado.tempo }}</td>
      <td>{{ dado.campo }}</td>
      <td>{{ dado.valor }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
